*{
   font-family: 'Lato', sans-serif;
    
}

body{
    background-color: #A79AE0;
}
.profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 3px #F7DF1E solid;
}

.display-picture{
    text-align: center;
    
}

.grid-container{
    display: grid;
    place-items: center;
    height: 100vh;  
    justify-content: center;
}

.card{
    background-color: #FFFFFF;
    width: 350px;
    height: 450px;
    border-radius: 20px;
    border-bottom: 8px #F7DF1E solid;
}

.time-date{
   text-align: center;
    padding: 20px 25px;
    color: grey;
}

h4{
    font-size: 25px;
    margin-bottom: 10px;
}
.personal-details{
    text-align: center;
}

.btn{
    text-align: center;
  
}

.track{
    color: gray;
    margin-top: -5px;
    
}

button{
    border: none;
    background-color: #26235C;
    padding: 6px 30px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button a{
    text-decoration: none;
}

.github{
    margin-bottom: -5px; 
    margin-right: 5px;
}

@media screen and (min-width:900px) {
    .card{
    background-color: #FFFFFF;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    border-bottom: 8px #F7DF1E solid;
}
}